<app-company-sidebar>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-9">
                <h1 class="card-title fw-semibold mb-4"><span><i class="ti ti-file-check"></i></span>COMPLETED DOCUMENTS</h1>
                <h2 class="mt-4 mb-4">Congratulations! Here are each of your completed company documents.</h2>
                <p>This is your document repository where all of your company documents are stored. You can access these documents 24/7 and will be the location where any future documentation we fulfill on your behalf will be safely stored.</p>
            </div>
            <div class="col-md-3">
                <img src="https://orders.incfile.com/static/order/dashboard//img/company-documents/docs-completed-banner.png" class="img-fluid" alt="">
            </div>
        </div>
        
        <div class="row mt-4">
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="p-5">
                        <img src="https://orders.incfile.com/static/order/dashboard/img/company-documents/icon-docs/filed-articles.png" style="height: auto; width: 100px;" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Filed Articles</h5>
                        <p class="card-text">A set of formal documents filed with the Secretary of State to legally document the creation of a new business entity.</p>
                        <a href="#" class="btn btn-outline-primary">View .PDF</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="p-5">
                        <img src="https://orders.incfile.com/static/order/dashboard/img/company-documents/icon-docs/statement-of-corp.png" style="height: auto; width: 100px;" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Statement Of The Incorporator</h5>
                        <p class="card-text">A document signed by the Incorporate, which identifies the initial directors of the corporation.</p>
                        <a href="#" class="btn btn-outline-primary">View .PDF</a>
                    </div>
                </div>
            </div>
        
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="p-5">
                        <img src="https://orders.incfile.com/static/order/dashboard/img/company-documents/icon-docs/banking-resolution.png" style="height: auto; width: 100px;" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">EIN / Tax ID Number</h5>
                        <p class="card-text">A 9-digit number that is assigned by the IRS and used to identify taxpayers in a business entity.</p>
                        <a href="#" class="btn btn-outline-primary">View .PDF</a>
                    </div>
                </div>
            </div>
        
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="p-5">
                        <img src="https://orders.incfile.com/static/order/dashboard/img/company-documents/icon-docs/meeting-minute.png" style="height: auto; width: 100px;" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Meeting Minutes</h5>
                        <p class="card-text">The directors of the corporation are required to have a "first," or organizational meeting to take care of things such as issuing shares of stock, adopting bylaws, appointing officers, etc.</p>
                        <a href="#" class="btn btn-outline-primary">View .PDF</a>
                    </div>
                </div>
            </div>
        
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="p-5">
                        <img src="https://orders.incfile.com/static/order/dashboard/img/company-documents/icon-docs/corporate-bylaws.png" style="height: auto; width: 100px;" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Corporate Bylaws</h5>
                        <p class="card-text">An internal document that details the operating rules for the corporation and are typically adopted at the organizational meeting of the board of directors.</p>
                        <a href="#" class="btn btn-outline-primary">View .PDF</a>
                    </div>
                </div>
            </div>
        
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="p-5">
                        <img src="https://orders.incfile.com/static/order/dashboard/img/company-documents/icon-docs/banking-resolution.png" style="height: auto; width: 100px;" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Banking Resolution</h5>
                        <p class="card-text">A resolution which may be adopted by the members to authorize the opening of a bank account, and it also designates who has signature authority for the bank account.</p>
                        <a href="#" class="btn btn-outline-primary">View .PDF</a>
                    </div>
                </div>
            </div>
        
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="p-5">
                        <img src="https://orders.incfile.com/static/order/dashboard/img/company-documents/icon-docs/meeting-minute.png" style="height: auto; width: 100px;" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">SS4</h5>
                        <p class="card-text">Application for Employer Identification Number</p>
                        <a href="#" class="btn btn-outline-primary">View .PDF</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-company-sidebar>