<app-company-sidebar>
    <div class="container mt-4">
        <h1>COMPLIANCE</h1>
        <p>We provide courtesy alerts to make sure that you never miss a state compliance important due date.</p>
        <div class="row mt-4">
            
            <div class="col-md-4">
                <mat-card class="example-card">
                    
                    <img mat-card-image src="https://orders.incfile.com/static/order/dashboard/img/very-top-card.png" alt="Photo of a Shiba Inu">
                    <mat-card-content class="mt-3">
                        <mat-card-subtitle>State Requirement</mat-card-subtitle>
                        <mat-card-title>Annual Report (MT)</mat-card-title>
                        <hr>
                        <div class="row text-center mt-3">
                            <div class="col-6">
                                <mat-card-title>APR. 15 2024</mat-card-title>
                                <mat-card-subtitle>Due Date</mat-card-subtitle>
                            </div>
                            <div class="col-6">
                                <mat-card-title>$119</mat-card-title>
                                <mat-card-subtitle>Total Fee</mat-card-subtitle>
                            </div>
                        </div>
                    </mat-card-content>
                    <mat-card-actions>
                        <a href="#" class="btn btn-primary" style="width: 100%;">FILE ANNUMAL REPORT</a>
                    </mat-card-actions>
                  </mat-card>
                  
            </div>
        </div>
    </div>
</app-company-sidebar>