<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-toolbar>
            <img src="./assets/images/logos/noviatify-logo.png" width="150" alt="">
        </mat-toolbar>
        <mat-nav-list>
            <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
                <ul id="sidebarnav">
                    <li class="nav-small-cap">
                        <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                        <span class="hide-menu">Dashboard</span>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/dashboard/overview" aria-expanded="false">
                            <span>
                                <i class="ti ti-layout-dashboard"></i>
                            </span>
                            <span class="hide-menu">Dashboard</span>
                        </a>
                    </li>
                    
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="./sample-page.html" aria-expanded="false">
                            <span>
                                <i class="ti ti-settings"></i>
                            </span>
                            <span class="hide-menu">Settings</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar>
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span class="text-dark"></span>
            <span class="middle-spacer"></span>
            
            <button mat-raised-button style="background-color: #5D87FF; color: white;">START A NEW COMPANY</button>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>account_circle</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>
                    <mat-icon>person</mat-icon>
                    <span>Profile</span>
                </button>
                <button mat-menu-item disabled>
                    <mat-icon>manage_accounts</mat-icon>
                    <span>Settings</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>power_settings_new</mat-icon>
                    <span>Logout</span>
                </button>
            </mat-menu>
        </mat-toolbar>
        <!-- Add Content Here -->
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>
  